<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>MPM | Independent Software Developer</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link href="assets/css/random_default.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="header">
<h1>MPM</h1>
<h2><span>Independent Software Developer<br>
</span></h2>
</div>
<div id="menu">
<ul>
<li class="first"><a href="#">Home</a></li>
<!--li><a href="#">Products</a></li>
<li><a href="#">Services</a></li>
<li><a href="#">About Us</a></li-->
<li><a href="contact">Contact Us</a></li>
</ul>
<div style="clear: both;">&nbsp;</div>
</div>
<div id="content">
<div id="colOne">
<h2>Sample Products</h2>
<h3>Android<br>
</h3>
<p>TTAK Android: A tamil english dictionary / Book Reader for anroid users. <a
href="#">More…</a></p>
<h3>Windows</h3>
<p>TTAK Windows: A tamil english dictionary for Windows users.. <a href="#">More…</a></p>
<h3>Wordpress</h3>
<p>Velicham .Com . <a href="#">More…</a></p>
</div>
<div id="colTwo">
{{ page.content }}
</div>
<div id="colThree">
<h2>Charges</h2>
<ul>
<li><a href="#">Basic instruction information for maximum 5 webpages, Just Rs 999/- Only.</a></li>
<li><a href="#">For every additional single page / Fuction points enhangement Rs 500/- Only</a></li>
<li><a href="#">Basic instruction information for maximum 4 Screen Android Application, Just Rs 1999/- Only.</a></li>
</ul>
<h3>Our Products</h3>
<h4>Inventory Management tool</h4>
<ul>
<li><a href="#">MPM Inventory Management tool
</a></li>
<li>Rs 3000/- Only</li>
<li>More details</li>
</ul>
<h4>Radio Braodcast Management Tool</h4>
<ul>
<li>MPM Radio Braodcast Management Tool</li>
<li>Rs 30,000/- Only</li>
<li>More details</li>
</ul>
</div>
<div style="clear: both;">&nbsp;</div>
</div>
<div id="footer">
<p>Copyright © 2016-2019 https://mpm2050.github.io. Designed by <a
href="#"><strong>Pitchaimuthu</strong></a></p>
</div>
</body>
</html>
